<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./static/css/common.css"/>
  </head>
  <body>
    <div>
      <h1 style="float: left;">Comments</h1>
      <div style="float: right;"><div class="logout"><a href="/logout">logout</a></div></div>
      <div style="clear: left;"></div>
    </div>
    <div>
      <form action="/create" method="post">
        <label><span class="attributes">name</span> <input type="text" name="user_name"/></label>
        <label><span class="attributes">comment</span> <input type="text" name="user_comment" /></label>
        <input type="submit" name="submit" value="comment!" />
      </form>
    </div>
    <hr/>
    <div>
      {{range $i, $a := .PageSizeEmptyArray}}
      <span><a href="/?page={{ $i }}">{{ $i }}</a></span>
      {{end}}
    </div>
    <hr/>
    <div class="container">
      <div class="row">
        <div class="cell"><span class="attributes">Name</span></div>
        <div class="cell"><span class="attributes">Comment</span></div>
      </div>
      {{range $user := .UserList.Users}}
      <div class="row">
        <div class="cell">{{$user.Name}}</div>
        <div class="cell">{{$user.Comment}}</div>
      </div>
      {{end}}
    </div>
  </body>
</html>
