<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./static/css/common.css"/>
  </head>
  <body>
    <div>
      <h1>Login</h1>
    </div>
    <div>
      {{.ErrorMessage}}
    </div>
    <hr/>
    <div>
      <form action="/login" method="post">
        <label>user name: <input type="text" name="login_user_name" /></label>
        <label>password: <input type="text" name="login_password" /></label>
        <input type="submit" name="submit" value="log in" />
      </form>
    </div>
  </body>
</html>
