div.container {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
  padding-left: 10px;
}

.logout {
  margin-top: 40px;
}

.attributes {
  font-weight: bold;
}
